/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* ROOT */
* {
    -webkit-overflow-scrolling: touch;
}

html {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

/* NAVIGATION */

nav {
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top: 0;
    width: 100vw;
    background: white;
    z-index: 5;
    height: 18vh;
}

nav>.logo-container {
    text-align: center;
    color: black;
    padding: 15px;
}

nav>div>img {
    display: block;
    margin: 0 auto;
    max-width: 160px;
}

nav>.logo-container h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav>.logo-container p {
    font-size: 1rem;
}

div.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 40px;
    text-align: center;
    border-bottom: 1.5px solid white;
}

div.nav-list ul li {
    color: white;
    padding: 1.25rem;
    display: inline;
    text-transform: uppercase;
}

div.nav-list ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav a:hover {
    text-decoration: none;
}

/* MAIN CAROUSEL */
main {
    position: relative;
    top: 18vh;
}

main div.slider-container {
    display: block;
    margin: 0 auto;
    height: 70vh;
}

.slide {
    position: relative;
    display: none;
    height: 70vh;
}

div.slider-container .slide1 {
    background: url('assets/img/arch1-land.jpg');
    background-size: cover;
    background-position: center;
}

div.slider-container .slide1 {
    background: url('assets/img/arch1-land.jpg');
    background-size: cover;
    background-position: center;
}

div.slider-container .slide2 {
    background: url('assets/img/arch2-land.jpg');
    background-size: cover;
    background-position: center;
}

div.slider-container .slide3 {
    background: url('assets/img/arch3-land.jpg');
    background-size: cover;
    background-position: center;
}

div.slider-container .slide4 {
    background: url('assets/img/arch4-land.jpg');
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 767px) {

    div.slider-container {
        position: relative;
        height: auto !important;
        min-height: 100%;
    }

    .slide1,
    .slide2,
    .slide3,
    .slide4 {
        padding-top: 125%;
        height: 100%;
    }

    div.slider-container .slide1 {
        background: url('assets/img/arch1-land-mob.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    div.slider-container .slide2 {
        background: url('assets/img/arch2-land-mob.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    div.slider-container .slide3 {
        background: url('assets/img/arch3-land-mob.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    div.slider-container .slide4 {
        background: url('assets/img/arch4-land-mob.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .slide {
        position: relative;
        bottom: 0;
    }
}

/* MAIN SPACER */

div.black-headline {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    min-height: 10rem;
    font-size: 2rem;
    text-transform: uppercase;
}

div.white-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    font-family: 'Oswald', sans-serif;
    min-height: 10rem;
    font-size: 2rem;
    text-transform: uppercase;
}

/* ABOUT SECTION */
article.about {
    text-align: center;
    padding: 4rem;
    line-height: 1.5;
    font-size: 1.125rem;
}

/* PROJECTS GRID */

/* DESKTOP GRID */
section.project-grid {
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0px auto 4rem auto;
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    grid-gap: 15px;
    grid-template-areas:
        "lgportrait lgportrait square1 square2"
        "lgportrait lgportrait square4 square5"
        "lgportrait lgportrait square6 square7";
}

/* MOBILE AND TABLET GRID */
@media only screen and (max-width: 767px) {
    section.project-grid {
        grid-template: auto / 1fr 1fr;
        grid-template-areas:
            "square1 square2"
            "square4 square5"
            "square6 square7";
    }

    section.project-grid .grid-item1 {
        display: none;
    }
}

section.project-grid img {
    max-width: 100%;
}

.grid-item1 {
    grid-area: lgportrait;
}

.grid-item2 {
    grid-area: square1;
}

.grid-item3 {
    grid-area: square2;
}

.grid-item4 {
    grid-area: square4;
}

.grid-item5 {
    grid-area: square5;
}

.grid-item6 {
    grid-area: square6;
}

.grid-item7 {
    grid-area: square7;
}

.grid-item8 {
    grid-area: land1;
}

/* SERVICES CARDS */

section.services {
    max-width: 1140px;
    margin: 4rem auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 1;
    flex-wrap: wrap;
}

section.services .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: black;
    margin: 15px;
    width: 250px;
    border-radius: 5px;
    height: 320px;
    min-height: 320px;
    max-height: 320px;
    display: flex;
    align-items: center;
}

section.services .card .top {
    background: black;
    color: white;
    align-items: center;
    width: 100%;
}

section.services .card .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    align-content: center;
    height: 100%;
}

.card h3 {
    display: inline-block;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.card i {
    display: inline-block;
    font-size: 2rem;
}

.card p {
    display: inline-block;
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.75;
    align-self: center;
}

@media only screen and (max-width: 839px) {
    html {
        font-size: 14px;
    }

    section.services {
        flex-direction: column;
    }
}

/* FEATURED IMAGERY */

div.featured {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 4rem 15px 0px 15px;
}

div.featured-item img {
    max-width: 100%;
}

/* CONTACT */

section.contact {
    display: block;
    margin: 4rem auto;
    max-width: 1140px;
}

form {
    margin: 4rem auto 0 auto;
    max-width: 50vw;
}

form button {
    display: block;
    width: 25%;
}

@media only screen and (max-width: 425px) {
    form {
        max-width: 100%;
        margin: 4rem 15px;
    }

    form button {
        width: 100%;
    }
}

/* FOOTER */

footer {
    position: relative;
    top: 18vh;
    background: #d5d5d5;
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    div.featured {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-tablet img {
        display: none;
    }
}

@media only screen and (max-width: 989px) {
    section.services {
        justify-content: center;
    }
}

/* MEDIA QUERIES FOR MOBILE ADJUSTMENTS */
@media only screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 12px;
    }
}